.app {
  height: 100vh;
  background-color: black; 
  color:white;
  position: relative;
}


.app__tittle{
  width: 100vW;
  height: 1px;
  overflow: hidden;
  background-image: url("https://help.redbubble.com/hc/article_attachments/360002309526/Rick_and_Morty_-_logo__English_.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 150px;
  z-index: 1;
  position: fixed;



  /* @media all and (min-width:768px){
   width: 470px;
   padding-top: 120px;
  } */
 }

 .app__main{
   padding-top:200px;
 }